
#users{
    width: 80%;
    margin-left: 10%;
}

app-user-details{
    width: 45%;
}

.card{
    margin: 20px;
}

h4{
    margin: 10px;
}

li{
    list-style: none;
}

button{
    width: 110px; 
    margin:  0px 10px 10px 0px ;
    align-self:flex-end;
}